// Colors
$blue: #1e4ca8;
$dark: #2c2f46;
$gray: #e1e3e7;
$light: #f5f7fb;
$mariner: #2682bd;
$silver: #e4e6e9;
$steel: #85878f;
$sushi: #85b73c;
$white: #ffffff;

// Font sizes:
$fs-pico: 8px;
$fs-nano: 9px;
$fs-micro: 10px;
$fs-small: 11px;
$fs-normal-small: 12px;
$fs-normal: 13px;
$fs-medium-small: 14px;
$fs-medium: 15px;
$fs-medium-large: 16px;
$fs-medium-larger: 17px;
$fs-large: 18px;
$fs-header-desktop: 19px;
$fs-extra-large: 21px;

// Line height
$lh-title: 0;
$lh-header: 20px;
$lh-normal: 24px;
$lh-heading: 26px;

// Font-family
$open-sans: 'Open Sans', sans-serif;

// Animation
$animate: all .5s linear;